.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}

.footerline {
  display: flex;
  flex-direction: column;
  column-gap: 70px;
  align-items: center;
  justify-content: center;
}
.follow {
  margin: 0;
  font-size: 80px;
  color: white;
  font-family: "Arima", cursive;
}

.footerIcon {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Arima", cursive;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  column-gap: 30px;
}
.lastLine {
  text-align: center;
  margin-bottom: 20px;
}
footer {
  width: 100%;
  height: auto;
  background: linear-gradient(
    360deg,
    rgb(1, 1, 1) 10%,
    rgb(32, 32, 32) 80%,
    rgb(80, 80, 80) 100%
  );
  color: rgb(252, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}
.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;

}
.contact {
  font-size: 80px;
  margin: 0;
}
.contact-para {
  font-size: 20px;
  margin: 0;
}
label {
  display: block;
  border-radius: 20px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
  border: none;
  background-color: rgb(13, 12, 12);
  color: white;
  box-shadow: 0 0 20px white;

}

.sendButton {
  width: 100px;
  height: 40px;
  background-color: rgb(13, 12, 12);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 20px white;
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    font-size: 10px;
    margin: 0;

  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 30px;
    margin: 0;
  }
  .contact-para {
    font-size: 15px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 20px;
  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 30px;
    margin: 0;
  }
  .contact-para {
    font-size: 15px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}
@media screen and (min-width: 375px) and (max-width: 426px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 30px;
    margin: 0;
  }
  .contact-para {
    font-size: 15px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}
@media screen and (min-width: 426px) and (max-width: 769px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 30px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    font-size: 10px;
    margin: 0;
    margin-top: 20px;
  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 30px;
    margin: 0;
  }
  .contact-para {
    font-size: 15px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 50px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    margin-bottom: 20px;
  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 50px;
    margin: 0;
  }
  .contact-para {
    font-size: 20px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }
  
  .footerline {
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
  }
  .follow {
    margin: 0;
    font-size: 80px;
    color: white;
    font-family: "Arima", cursive;
  }
  
  .footerIcon {
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Arima", cursive;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    column-gap: 30px;
  }
  .lastLine {
    text-align: center;
    margin-bottom: 20px;
  }
  footer {
    width: 100%;
    height: auto;
    background: linear-gradient(
      180deg,
      rgb(1, 1, 1) 10%,
      rgb(32, 32, 32) 80%,
      rgb(80, 80, 80) 100%
    );
    color: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
  
  }
  .contact {
    font-size: 80px;
    margin: 0;
  }
  .contact-para {
    font-size: 20px;
    margin: 0;
  }
  label {
    display: block;
    border-radius: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    border: none;
    background-color: rgb(13, 12, 12);
    color: white;
    box-shadow: 0 0 20px white;
  
  }
  
  .sendButton {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 12, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
  } 
}
