header {
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  border-radius: 50px;
  margin: 10px auto;
  background-color: black;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 1px solid white;
  
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LogoAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#Logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
#name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
.nav {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.button {
  width: 120px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.hero {
  width: 80%;
  height: calc(100vh - 120px);
  /* background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgb(49, 4, 107) 100%
      ); */
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 85%,
    rgb(140, 47, 222) 100%
  ); */
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50px;
  color: white;
  padding: 0 50px;
}
.image {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
#picture {
  width: 80%;
  height: 80%;
  border-radius: 50px;
  object-fit: cover;
  /* opacity: 0.6; */
}
.icons  {
  width: 15%;
  height: calc(100vh - 120px);
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* background-color: chartreuse; */
}
.sociallink{
 width: 30px;
 height: 30px;
 text-decoration: none;
 color: white;
 display: flex;
 flex-direction: column;
 row-gap: 30px;
} 
.description {
  width: 50%;
  height: calc(100vh - 120px);
  /* background-color: brown; */
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#topic {
  margin: 0;
  font-size: 40px;
}
#FullName {
  margin: 0;
  font-size: 70px;
  font-weight: 800;
}
#bio {
  padding-top: 10px;
  font-size: 20px;
}
.profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}
#burgerbtn {
  display: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.menu-list {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  z-index: 2;
  transition: right 0.4s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
}
.closebtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .nav {
    display: none;
  }
  .button {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 75%;
    height: 30%;
    row-gap: 10px;
  }
  #topic {
    margin: 0;
    font-size: 10px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
  }

  .image {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #picture {
    width: 70%;
    height: 90%;
    border-radius: 50px;
    object-fit: cover;
  }
  #burgerbtn {
    font-size: 15px;
  }
  #Logo {
    width: 30px;
    height: 30px;
  }
  #name {
    font-size: 15px;
  }
  header {
    width: 70%;
    height: 50px;
  }
  .link {
    font-size: 15px;
  }
  .menu-list {
    width: 170px;
  }
  .closebtn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .nav {
    display: none;
  }
  .button {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 75%;
    height: 30%;
    row-gap: 10px;
  }
  #topic {
    margin: 0;
    font-size: 10px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
  }

  .image {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #picture {
    width: 70%;
    height: 90%;
    border-radius: 50px;
    object-fit: cover;
  }
  #burgerbtn {
    font-size: 15px;
  }
  #Logo {
    width: 30px;
    height: 30px;
  }
  #name {
    font-size: 15px;
  }
  header {
    width: 80%;
    height: 50px;
  }
  .link {
    font-size: 10px;
  }
  .menu-list {
    width: 170px;
  }
  .closebtn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 426px) {
  .nav {
    display: none;
  }
  .button {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 75%;
    height: 30%;
    row-gap: 10px;
  }
  #topic {
    margin: 0;
    font-size: 10px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
  }

  .image {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #picture {
    width: 70%;
    height: 90%;
    border-radius: 50px;
    object-fit: cover;
  }
  #burgerbtn {
    font-size: 15px;
  }
  #Logo {
    width: 30px;
    height: 30px;
  }
  #name {
    font-size: 15px;
  }
  header {
    width: 80%;
    height: 60px;
  }
  .link {
    font-size: 10px;
  }
  .menu-list {
    width: 170px;
  }
  .closebtn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 769px) {
  .nav {
    display: none;
  }
  .button {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 80%;
    height: 40%;
    row-gap: 7px;
  }
  #topic {
    margin: 0;
    font-size: 15px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 25px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-between;
  }

  .image {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #picture {
    width: 70%;
    height: 90%;
    border-radius: 50px;
    object-fit: cover;
  }
  #burgerbtn {
    font-size: 15px;
  }
  #Logo {
    width: 30px;
    height: 30px;
  }
  #name {
    font-size: 20px;
  }
  header {
    width: 80%;
    height: 60px;
  }
  .link{
    font-size: 10px;
  }
  .menu-list {
    width: 170px;
  }
  .closebtn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 75%;
    height: 30%;
    row-gap: 10px;
  }
  #topic {
    margin: 0;
    font-size: 25px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 35px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    row-gap: 20px;
  }
  .page {
    width: 80%;
    height: calc(100vh - 150px);
    padding: 0 20px;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    color: white;
  }
  .description {
    width: 75%;
    height: 30%;
    row-gap: 10px;
  }
  #topic {
    margin: 0;
    font-size: 25px;
  }
  #FullName {
    margin: 0;
    padding: 0;
    font-size: 35px;
  }
  #bio {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .icons {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    font-size: 30px;
  }
}
